Package: com.arichardson.PassIt
Name: PassIt
Version: 1.1
Description: Easily open links in 1Password!
Section: Tweaks
Depends: firmware (>= 6.0), mobilesubstrate, preferenceloader
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: Andrew Richardson <contact@andrewr.me>
dev: Andrew Richardson <contact@andrewr.me>
Homepage: 
Depiction: 
Maintainer: 
Icon: file:///Library/PreferenceBundles/PassItSettings.bundle/PassItIcon.png

